#visit{

  position: relative;
  width: 50%;

}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: goldenrod;
  }
  #visit:hover .overlay {
    opacity: 0.7;
  }
  .search{
      color:white;
      border:0;
      outline-color: none;
      background:none;
      width: 70%;
      height:80%;
      border-radius:30px;
      caret-color: rebeccapurple;
      line-height: 40%;
      transition: width 0.4s linear;

  }
  .search:hover{
      padding:0px;
      width:80%;
      height: 5.8vh;
      transition: width 0.4s linear;
      background-color: white;
  }
.search:focus{
    caret-color: red;
    padding:0px;
    width:100%;
    border-radius:30px;
    border:0;
    outline:0;
border:0;
height: 5.8vh;
    transition: width 0.4s linear;
    background-color: white;
}


